<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :course_id, style: "display: block" %>
    <% courseIDS = Course.where(teacher: current_user.email).pluck(:course_name, :section, :semester, :id)%>
    <%
      courseOptions = []
      courseIDS.each do |vals|
        tempStr = vals[0].to_s + " - " + vals[1].to_s + " - " + vals[2].to_s
        courseOptions.append([tempStr,vals[3]])
      end
    %>
    <%= form.select :course_id, courseOptions%>
  </div>

  <br>
  
  <div>
    <%= form.check_box :targeted %>
    <%= form.label :targeted, "Targeted" %>
    <p> (This will quiz you on your most frequently missed students from this course) </p>
  </div>

  <div>
    <%= form.hidden_field :correct,value: 0%>
  </div>
  <div>
    <%= form.hidden_field :incorrect,value: 0%>
  </div>
  <div>
    <%= form.hidden_field :score,value: 0%>
  </div>
  <div>    
    <%= form.hidden_field :longest_streak,value: 0%>
  </div>
  <div>    
    <%= form.hidden_field :longest_streak,value: 0%>
  </div>
  <div>    
    <%= form.hidden_field :teacher,value: current_user.email%>
  </div>
  <div>    
    <%= form.hidden_field :completed,value: false%>
  </div>
  <div>    
    <%= form.hidden_field :current_streak,value: 0%>
  </div>
  <div>    
    <%= form.hidden_field :validate_id,value: nil%>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
