<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :course_id, style: "display: block" %>
    <%= form.number_field :course_id %>
  </div>

  <div>
    <%= form.label :correct, style: "display: block" %>
    <%= form.number_field :correct %>
  </div>

  <div>
    <%= form.label :incorrect, style: "display: block" %>
    <%= form.number_field :incorrect %>
  </div>

  <div>
    <%= form.label :score, style: "display: block" %>
    <%= form.text_field :score %>
  </div>

  <div>
    <%= form.label :longest_streak, style: "display: block" %>
    <%= form.number_field :longest_streak %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
