<div id="<%= dom_id quiz %>">
  <p>
    <strong>Course:</strong>
    <%= quiz.course_id %>
  </p>

  <p>
    <strong>Correct:</strong>
    <%= quiz.correct %>
  </p>

  <p>
    <strong>Incorrect:</strong>
    <%= quiz.incorrect %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= quiz.score %>
  </p>

  <p>
    <strong>Longest streak:</strong>
    <%= quiz.longest_streak %>
  </p>

</div>
