<p style="color: green"><%= notice %></p>

<div id="quizzesDiv">
  <table class="table table-striped table-hover text-center">
    <thead>
      <tr>
        <th colspan="7">
          <h1>Quiz History:</h1>
        </th>
      </tr>
      <tr>
        <th>
          Date Started:
        </th>
        <th>
          Course:
        </th>
        <th>
          Section:
        </th>
        <th>
          Semester:
        </th>
        <th>
          Score:
        </th>
        <th>
          Longest Streak:
        </th>
        <th>
          View Quiz Results:
        </th>
      </tr>
    </thead>

    <tbody>
    
      <% @quizzes.each do |quiz| %>
        <tr>
          <td>
            <%= quiz.created_at %>
          </td>
          <td>
            <%=Course.find(quiz.course_id).course_name%>
          </td>
          <td>
            <%=Course.find(quiz.course_id).section%>
          </td>
          <td>
            <%=Course.find(quiz.course_id).semester%>
          </td>
          <td>
            <% if quiz.completed %>
              <%= quiz.score.round(2) %>%
            <% else %>
              Incomplete
            <% end %>
          </td>
          <td>
            <% if quiz.completed %>
              <%= quiz.longest_streak %>
            <% else %>
              Incomplete
            <% end %>
          </td>
          <td>
            <%= button_to "Show this quiz", quiz, :method => :get %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<footer class="hd footer mt-auto py-3 mt-2 text-center">
  <div class="container">
    <span><%= button_to "New quiz", new_quiz_path, :method => :get %></span>
    
  </div>
</footer>