<div class="text-center container">
 <h1>Howdy Professor<%= current_user.lastname == "" ? "!" : " #{current_user.lastname}!"%></h1>  <br>
  <div class="row">
    <div class="col">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class = "row">
        <div class="col">
          <h2>Change <%= resource_name.to_s.humanize %> Name</h2>
          <div class="field">
            <br>
            <%= f.label :firstname, "First Name" %><br />
            <%= f.text_field :firstname, autocomplete: "#{current_user.firstname}" %>
          </div>

          <br>

          <br>

          <div class="field">
            <%= f.label :lastname, "Last Name" %><br />
            <%= f.text_field :lastname, autocomplete: "#{current_user.lastname}" %>
          </div>
        </div>

        <div class="col">
          <h2>Change <%= resource_name.to_s.humanize %> Password</h2>
          <div class="field">
            <%= f.label :password, "New Password" %><br><i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <br>

          <div class="field">
            <%= f.label :password_confirmation, "Confirm New Password" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="col">
          <h2>Confirm <%= resource_name.to_s.humanize %> Changes</h2>
          <div class="field">
            <%= f.label :current_password %><br><i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <br>
            <%= f.submit "Update" %>
          </div>
        </div>
      
      </div>
      <% end %>
    </div>
  </div>
  <div class ="row mt-4">
    <h5>NOTE: Changes will not be saved unless you enter your password and press "Update" above</h5>
  </div>
  <div class ="row mt-4">
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>
</div>

<footer class="hd footer mt-auto py-3 text-center">
  <div class="container">
    <div class="row gx-2">
      <div class="col">
        <div class="row p-2 pt-0">
              <%= button_to "Back", :back, :method => :get %>
        </div>
      </div>
    </div>
  </div>
</footer>