<%= form_with(model: @post) do |form| %>
  <div>
    <div style = "text-align: center">
      <strong class = "message">Fill out form, drag and drop, then Save</strong><br><br>
      <!--if the file uploaded, send message-->
      <% if @post %>
        <p style="color: green"><%= notice %>File Uploaded</p>
      <% end %>

      <!--make an empty text field for Course Code-->
      <%= form.label :course_temp, "Course Code", class: "message" %><br>
      <%= form.text_field :course_temp, pattern: '\b([A-Z]{4}[\s][0-9]{3})\b', title: "Course Code incorrect" %><br>

      <!--make an empty text field for Section number-->
      <%= form.label :section_temp, "Section Number", class: "message"%><br>
      <%= form.text_field :section_temp, pattern: '\b([0-9]{3})\b', title: "Section value incorrect"%><br>

      <!--make an empty text field for Semester-->
      <%= form.label :semester_temp, "Semester", class: "message" %><br>
      <%= form.text_field :semester_temp, pattern: '\b((Fall|Spring)[\s]20[0-9]{2})\b', title: "Semester values incorrect" %><br>

      <!--implement dropzone for submitting zip or p_imageRoster.zip files-->
        <%= form.file_field :file, accept: '.zip', multiple: false, class: "dropzone" %>
    </div>

    <div style= "text-align: center"><br><br>
    <!--on submit, send user back to index page-->
      <%= form.submit "Save", class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>