<%= form_with(model: @student) do |form| %>
  <% if @student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-center container">
    <div class="row gx-5 h-100 ">
      <div class="col">
        <div>
          <%= form.label :firstname, style: "display: block" %>
          <%= form.text_field :firstname %>
        </div>

        <div>
          <%= form.label :lastname, style: "display: block" %>
          <%= form.text_field :lastname %>
        </div>

        <div>
          <%= form.label :uin, style: "display: block" %>
          <%= form.text_field :uin, pattern: '\b[0-9]{9}\b', title: "UIN should be 9 digits" %>
        </div>
      </div>

      <div class="col">
        <div>
          <%= form.label :email, style: "display: block" %>
          <%= form.text_field :email, pattern: '^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' , title: "Incorrect email format" %>
        </div>

        <div>
          <%= form.label :classification, style: "display: block" %>
          <%= form.text_field :classification %>
        </div>

        <div>
          <%= form.label :major, style: "display: block" %>
          <%= form.text_field :major, pattern: '(\b[A-Za-z\s]+\b)', title: "([A-Za-z\s]+) For example MCS" %>
        </div>
      </div>

      <div class="col">
        <div>
          <%= form.label :notes, style: "display: block" %>
          <%= form.text_field :notes %>
        </div>

		<div>
          <%= form.label :tags, style: "display: block" %>
          <%= form.select :tags, options_for_select(Tag.all.map{ |tag| tag.tag_name }), {}, multiple: true %>
        </div>

        <div>
            <%= form.label :image, style: "display: block" %>
            <%= form.file_field :image %>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <%= form.submit %>
    </div>
  </div>
<% end %>
