<div id="<%= dom_id student %>">
  <p>
    <strong>First Name:</strong>
    <%= student.firstname %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= student.lastname %>
  </p>

  <p>
    <strong>Student UIN:</strong>
    <%= student.uin %>
  </p>

  <p>
    <strong>Student email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Student Classification:</strong>
    <%= student.classification %>
  </p>

  <p>
    <strong>Student Major:</strong>
    <%= student.major %>
  </p>

  <p>
    <strong>Student Notes:</strong>
    <%= student.notes %>
  </p>

  <p>
    <strong>Student Tags:</strong>
    <%= student.tags %>
  </p>

</div>
