<div class="text-center container">
  <h1>Editing Student</h1>

  <%= render "form", course: @student %>
</div>
<div class="text-center container">
    <h1>Edit Student Course History</h1>
</div>

<div id="studentCourseEditDiv">
    <table class="table table-striped table-hover text-center">
        <thead>
        <tr>
        <th>
            Course Name:
        </th>
        <th>
            Semester:
        </th>
        <th>
            Section:
        </th>
        <th>
        </th>
        <th>
        </th>
        </tr>
    </thead>
    <tbody>
        <% @courses_record.each do |course| %>
            <tr>
                <td>
                    <%# <strong>Course:</strong> %>
                    <%= course.course_name %>
                </td>
                <td>
                    <%# <strong>Section:</strong> %>
                    <%= course.section %>
                </td>

                <td>
                    <%# <strong>Semester:</strong> %>
                    <%= course.semester %>
                </td>
                <td>
                    <%= button_to "Edit this course of student", edit_course_path(course), :method => :get %>
                </td>
                <td>
                    <%= button_to "Delete this course of student", @course, method: :delete %>
                </td>
            </tr>
        <% end %>
    </tbody>
    </table>
</div>

<footer class="hd footer mt-auto py-3 text-center">
  <div class="container">
    <div class="row gx-2">
      <div class="col">
        <div class="row p-2 pt-0">
          <%= button_to "Back to Student Profile", @student, :method=>:get  %>
        </div>
      </div>
      <div class="col">
        <div class="row p-2 pt-0">
            <%= button_to "Back to Student List", students_path, :method => :get %>
        </div>
      </div>        
    </div>
  </div>
</footer>