<div id="studentsDiv">
  <table class="table table-striped table-hover text-center">
    <thead>
      <tr>
        <th colspan="6">
          <h1>Students</h1>
        </th>
      </tr>
      <tr>
        <th>
          Email: <br>
          <%= form_tag('/students', method: :get) do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search by Email" %>
            <%= submit_tag 'Search', :name => nil %>
          <% end %>
        </th>
        <th>
          Course(s)/Semester(s): <br>
          <%= form_with(method: "get") do |f| %>
          <% selected_course = nil%>
          <%= f.select("selected_course", @course_names, {:include_blank => true}, {:onchange => "selected_course=this.value;"}) %>

          <% selected_semester = nil%>
          <%= f.select("selected_semester", @semesters, {:include_blank => true}, {:onchange => "selected_semester=this.value;"}) %>
        </th>
        <th>
          Tags:
          <% selected_tag = nil%> <br>
          <%= f.select("selected_tag", @tags, {:include_blank => true}, {:onchange => "selected_tag=this.value;"}) %>
        </th>
      </tr>
      <tr>
        <th colspan="6">
          <%= f.submit "Filter Students List"%>
          <% end %>
        </th>
      </tr>
    </thead>

  </table>
</div>

    <div class="d-flex flex-wrap justify-content-center">
    <% @students.each do |student| %>
    <div class="text-center m-2">
        <% if student.records[0].image.attached? %>
            <%= image_tag student.records[0].image.variant(:thumb), class: 'bi bi-person square d-block mx-auto', style: 'max-width: 12rem;' %>
        <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" width="12rem" height="12rem" class="bi bi-person rounded-square" viewBox="0 0 16 16">
                <rect width="100%" height="100%" fill="gray" />
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
            <div></div>
        <% end %>
        <%= student.records[0].lastname %>, <%= student.records[0].firstname %>
        <%= button_to "Show this student", student.records[0], :method => :get %>
    </div>
    <% end %>
    </div>

<footer class="hd footer mt-auto py-3 mt-2 text-center">
  <div class="container">
    <span><%= button_to "New student", new_student_path, :method => :get %></span>
  </div>
</footer>
