<p style="color: green"><%= notice %></p>
<%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>

<h1>Student Profile</h1>

<%= render @student %>
<div>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %>

  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
