<div class="container text-center">
  <div class="row gx-2 my-3">
      <div class="col">
        <h1>Howdy Professor<%= current_user.lastname == "" ? "!" : " #{current_user.lastname}!"%></h1>
      </div>
  </div>
  <div class="container">
    <div class="row gap-3 ">
      <div  class="bg-light border p-2 mr-5 col-sm rounded-3">
        <h2 class="display-5 mt-4">Welcome Back!</h2>
        <br>
        <p><b>Students due for you to practice:</b> <%= getNumDue() %></p>
        <br>
        <a href= <%= getDueStudentQuiz() %> >Practice now!</a>
      </div>

    </div>
  </div>
  <div class="container mt-3">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#demo">
      View More Statistics
    </button>
    <br>
    <div class="collapse" id="demo">
      <div class="row gx-2 mb-3 p-3">
        <div class="bg-light border rounded-3">
          <div class="row p-2 pt-0">
            <div class="col">
              <p><h4>Teaching Summary:</h4></p>
              <p><b>Years:</b> <%= getYears() %></p>
              <p><b>Semesters:</b> <%= Course.where(teacher:@id).distinct.count(:semester)%></p>
              <p><b>Courses:</b> <%= Course.where(teacher:@id).distinct.count(:course_name)%></p>
              <p><b>Students:</b> <%= Student.where(teacher:@id).distinct.count(:uin)%></p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

  
  
  <% if false %>
  <div class="row gx-2 mb-2">
    <% recentCourses = Course.where(teacher:@id).order(updated_at: :desc).limit(3)%>
    <% recentCourses.each do |course| %>
      <div class="col">
        <div class="bg-light border rounded-3">
        </div>
      
    <% end %>
  </div>
  <% end %>

</div>