<div class="text-center container">



<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false} } ) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <br>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if current_user %>
  <h2><%= current_user.email %></h2>
  <%= link_to "Edit Account", edit_user_registration_path %>
  <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
  <% else %>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Create Account", new_user_registration_path %>
  <% end %>


  <br>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <br>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
</div>

<footer class="hd footer mt-auto py-3 text-center">
  <div class="container">
    <div class="row gx-2">
      <div class="col">
        <div class="row p-2 pt-0">
              <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</footer>