<div id="<%= dom_id course %>">
  <p>
    <strong>Course Name:</strong>
    <%= course.course_name %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= course.section %>
  </p>

  <p>
  <strong>Teacher:</strong>
  <%= course.teacher %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= course.semester %>
  </p>

</div>
