<tr id="<%= dom_id course %>">

    <td>
      <%# <strong>Course name:</strong> %>
      <%= course.course_name %>
    </td>

    <td>
      <%# <strong>Section:</strong> %>
      <%= course.section %>
    </td>

    <td>
      <%# <strong>Teacher:</strong> %>
      <%= course.teacher %>
    </td>


    <td>
      <%# <strong>Semester:</strong> %>
      <%= course.semester %>
    </td>
    


    <td>
      <%= button_to "View Profile", course, :method=>:get  %>
    </td>

</tr>