<tr id="<%= dom_id course %>">

    <td>
      <%# <strong>Course number:</strong> %>
      <%= course.course_number %>
    </td>

    <td>
      <%# <strong>Sections:</strong> %>
      <%= course.sections %>
    </td>

    <td>
      <%# <strong>Number of students:</strong> %>
      <%= course.number_of_students %>
    </td>

    <td>
      <button class="btn btn-outline-dark"><%= link_to "View Profile", course %></button>
    </td>

</tr>