<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>

  <div>
    <%= form.label :course_name, style: "display: block" %>
    <%= form.text_field :course_name %>
  </div>

  <div>
    <%= form.label :section, style: "display: block" %>
    <%= form.number_field :section %>
  </div>

  <div>
  <%= form.label :semester, style: "display: block" %>
  <%= form.text_field :semester %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
