<p style="color: green"><%= notice %></p>
<%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>

<%= render @course %>

<div>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %>

  <%= button_to "Destroy this course", @course, method: :delete %>
</div>

<h1>Students in this course:</h1>

<div id="students">
  <% @student_records.each do |student| %>
    <%= render student %>
    <p>
      <%= link_to "Show this student", student %>
    </p>
  <% end %>
</div>
