<div class="container text-center">
  <div class="row gx-2">
    <div class="col">
      <div class="row p-2 pt-0">
        <%= button_to "View course history", courses_history_path(@course), :method => :get %>
      </div>
    </div>
    <div class="col">
      <div class="row p-2 pt-0">
        <%= button_to 'Create a quiz', {:controller => "quizzes", :action => "create", :quiz => {:course_id => @course.id, :correct => 0, :incorrect => 0, :score => 0, :longest_streak => 0, :teacher => current_user.email, :completed => false, :current_streak => 0, :validate_id => nil, :targeted => false}, :commit => "Create Quiz"}, :method=>:post  %>
      </div>
    </div>
    <div class="col">
      <div class="row p-2 pt-0">
        <%= button_to "Back to courses", courses_path, :method => :get %>
      </div>
    </div>
  </div>
  <div class="row gx-5">
    <div class="col">
      <div class="row p-5">
        <div class="px-5 py-2 bg-light border rounded-3">
          <h1> <%= @course.course_name %></h1>
        </div>
      </div>
      <div class="row ">
            <div class="px-5 py-2 bg-light border rounded-3">
              <div class="row">
                <h3>View Selection:</h3>
              </div>
              <div class="row">
                <div class="col">
                  Order:
                  <%= form_with(method: "get") do |f| %>
                  <%= f.select("sortOrder", ["Alphabetical", "Reverse Alphabetical"]) %>
                </div>
                <div class="col">
                    Semester:
                    <% selected_semester = nil%>
                    <%= f.select("selected_semester", @semesters, {:include_blank => true}, {:onchange => "selected_semester=this.value;"}) %>
                </div>
                <div class="col">
                    Section: <br>
                    <% selected_section = nil%>
                    <%= f.select("selected_section", @sections, {:include_blank => true}, {:onchange => "selected_section=this.value;"}) %>
                </div>
                <div class="col">
                    Tags: <br>
                    <% selected_tag = nil%>
                    <%= f.select("selected_tag", @tags, {:include_blank => true}, {:onchange => "selected_tag=this.value;"}) %>
                </div>
                <div> <br>
                <%= f.submit "Filter Students List"%>
                <% end %>
                </div>
              </div>
            </div>
      </div>
    </div>
    <%= render partial: "courses/partials/students" %>
  </div>
</div>
